<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ db.name }}' );

/** MySQL database username */
define( 'DB_USER', '{{ db.user }}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ db.password }}' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '-DYA{IOjEbb;&TXZ=S]RX$1(^y5Vajnv,^,hFI (edu(u?MsS*7pBPD-T T)sASn' );
define( 'SECURE_AUTH_KEY',  's}*{mfC`WB%:QomCT#pxmgRf+ee^PhG0?(^bYS1OI#?eN!{cBbv.xz8A7I+- iQ6' );
define( 'LOGGED_IN_KEY',    'o*V8i[e{kpk%l-qS%aFlS<Fs>uk@IC!9qc2(G5Zu_Z=F$7J%~GNLmaN?Fio+9u<X' );
define( 'NONCE_KEY',        '1:Ur?(Bh.,(abkWKd%&U{BiD}15nz7^8z%*bX)Yoh1YLjmyt?NHRWlC)[D;m Z9+' );
define( 'AUTH_SALT',        '-oXr]:mBm1]kN5v$vQDH9r|U+~c,8v<B67PN>M!5I6/fDbq~tv@_dHy!4$s.nqCR' );
define( 'SECURE_AUTH_SALT', 'mXb4w8;/KIf~K*BjLez)4]+{2vjlFU;<:|Zqd<l@4k^]:cXSW[E5/Al*=p0]aNOL' );
define( 'LOGGED_IN_SALT',   '8,$2QJy:8Os2( @@alYI?;h)<g*(9)>tIhfCT-J?mWd#?FA9t+qLzhezWrNyIPv$' );
define( 'NONCE_SALT',       '?g&6<m&kx zvwOJAaVak5KaHkrJ&vxaRK4OZMcaSah8_>Jw=0.L0t1M3g_QgXEDl' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
